.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.cache
server/dist
public/dist
.vscode

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage